*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
}
.container{
    margin-top: 70px;
}
.mapa{
    margin-left: 50px;
}
.titulo{
    margin-left: 5px;
}
.card{
    width: 100%;
    margin-left: 110px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 2px black;
}
.tit{
    margin-left: 85px;
}
.contenedor {
	width: 90%;
	max-width: 1000px;

    margin-left: 0px;
    margin-bottom: 10px;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}
.ciudad{
    text-align: center;
}
.imgclima{
    width: 190px;
    align-items: center;
}
.titulopag{
    text-align: center;
}

@media (max-width: 768px) {
    .mapa{
        margin-left: 5px;
        width: 340px;
        height: 340px;
    }
    .titulo{
        margin-left: 5px;
    }
    
}